@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
 
body{
    background-color: #250902;
    text-align: center;   
    color:whitesmoke;
}
.first__font{
    font-family: 'Bebas Neue', cursive;
}

/*mobile*/

.web__container{
    background-color: #38040E;
    text-align: center;
    font-family: 'Teko', sans-serif;
    width: 100%;
}
#web__grid--container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav"
    "header"
    "main"
    "aside"
    "footer";
}

#nav{
    grid-area: nav;
}
#header{
    grid-area: header;
}
#main{
    grid-area: main;
}
#aside{
    grid-area: aside;
}
#footer{
    grid-area: footer;
}

.nav__bar{
    display: flex;
    z-index: 1;
    position: sticky;
    flex-direction: column;
    align-items: center;
    top: 0;
    max-height: 100px;
    background-color: #640d149d;
    width: 100%;
}
    .logo{ 
    width: 120px;
    }
        .nav__bar--options{
        display: flex;
        justify-content: space-around;
        width: 60%;
        }
            a{
            text-decoration: none;
            color: inherit;
            font-size: 1.3em;
            transition: .5s;
            }
                li{
                list-style-type: none;
                transition: .5s;
                }
                li:hover{
                    transform: scale(1.2);
                }


                
.header__box{
    position: relative;
    width:95%;
    margin: 0 auto;
}
    .main__title{
        font-size: 4em;
        margin: 2% auto;
    }
        .img__carrousel{
            position: relative;
            border-radius: 15px;
            width: 100%;
        }



.main__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #800E13;
    border-radius: 15px;
    width: 90%;
    margin: 0 auto;
}
    .info__box{
        display: flex;
        flex-direction: column;
        background-color: #AD2831;
        margin-top: 4%;
        margin-bottom: 4%;
        border-radius: 5%;
        width: 90%;
        transition: .5s;
    }
    .info__box:hover{
        transform:scale(1.1);
    }
        .info__box--title{
            font-size: 3em;  
        }
            .info__box--image{
                width: 80%;
            }
                .info__box--text{
                    font-size: 1.1em;
                    margin: 10px auto;
                    width:90%;
                }


.aside__box{
    background-color: #800E13;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}
    .figure__box{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 800px;
        width: 100%;
    }
        .esport__logo{
            width: 150px;
            transition: .5s;    
        }
        .esport__logo:hover{
            transform:scale(1.1);
        }


.footer__bar{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:#640d149d;
    margin-top: 50px;
    height: 70px;
}
    .social__img{
        display: inline-block;
        margin: 5px 10px;
        width: 60px;
    }
        .twitter__logo{
            vertical-align: middle;
        }
            .youtube__logo{
                vertical-align: middle;
            }
 
/* Who we are - Specifics*/

.who-we-are{
    margin-top: 50px;
    padding: 50px;
}
    .who-we-are__text{
        font-size: 1.5em;
        margin-right: 50px;
        margin-left: 50px;
        text-align: left;
    }
        .who-we-are__img{
            float: left; 
            margin-left: 50px;
            margin-right: 20px;
            max-width: 30%;
            height:450px;
            object-fit: cover;
        }
 

/* Games - Specifics */

.games{
    margin-top: 50px;
    height: 800px;
}
        .info__box--block{
            display: block;
            position: relative;
            height: 23%;
            width: 90%;
            left: 5%;
            margin-bottom: 2%;
            background-color: #AD2831;
            border-radius: 15px;
        }
            .horizontal__image{
                display: inline-block;
                position: absolute;
                width: 22%;
                top: 14%;
                left: 2%;
            }
                .info__box--info__container{
                    text-align: left;
                    width: 50%;
                    display: inline-block;
                }

/* News - Specifics */

.news{
    margin-top: 50px;
    height: 1100px;
}
    .box--news{
        height:20%;
    }

/* Events - Specifics */
.event__info--size{
    position: absolute;
    width: 60%;
    right:7%;
   
}        
        .events--size{
            display: inline-block;
            position: absolute;
            width: 30%;
            top: 14%;
            left: 2%;
        }
            .events__resize{
                height: 38%;
            }
/* Gallery - Specifics */
    .gallery{
        margin-top: 2%;
    }
    .gallery__img{
        width: 95%;
        margin-bottom: 2%;
        border-radius: 15px;
        transition: .4s;
    }
    .gallery__img:hover{
        transform:scale(1.2);
        
    }
    #gallery__img--1{
        grid-area: img1;
    }
    #gallery__img--2{
        grid-area: img2;
    }
    #gallery__img--3{
        grid-area: img3;
    }
    #gallery__img--4{
        grid-area: img4;
    }
    #gallery__img--5{
        grid-area: img5;
    }   
    #gallery__img--6{
        grid-area: img6;
    }
    #gallery__img--7{
        grid-area: img7;
    }
    #gallery__img--8{
        grid-area: img8;
    }
    #gallery__img--9{
        grid-area: img9;
    }
    #gallery__img--10{
        grid-area: img10;
    }
    #gallery__img--11{
        grid-area: img11;
    }
    #gallery__img--12{
        grid-area: img12;
    }   


/*Contact Us - Specifics  */
.contact__us--box{
    margin-top: 50px;
    height: 800px;
    width: 60%;
}
    .contact__us--container{
        height: 80%;
        width: 90%;
        background-color: #AD2831;
        margin: 0 auto;
        border-radius: 15px;
        text-align: left;
    }
        .contact__us--img{
            display: inline-block;
            position:relative;
            vertical-align: middle;
            width:50%;
            height: 94%;
            object-fit: cover;
            left: 5%;
            top: 3%;
            border-radius: 20px;
        }
            .form__box{
                display: inline-block;
                position: absolute;
                vertical-align: middle;
                width: 34%;
                right: 10%;
                top:19%;
            
            }
                .font__size{
                    font-size: 1.5em;
                }
                    .comment__lbl{
                        display: block;
                    }
                        .text__box{
                        display: block;
                        margin:0 auto;
                        width: 100%;
                        border-radius: 10px;
                        height:40px;
                        margin-bottom: 12%;
                        }
                            .textarea__box{
                            width: 100%;
                            border-radius: 10px;
                            height: 120px;
                            }
                                .btn__form{
                                font-size: 1.4em;
                                display: block;
                                margin-top: 20px;
                                width: 100%;
                                height: 50px;
                                border-radius: 10px;
                                border: none;
                                color: antiquewhite;
                                background-color: #e7555f;
                                }

@media (min-width: 768px){
    #web__grid--container{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 4fr 4fr 1fr;
        grid-template-areas: 
        "nav nav"
        "header aside"
        "main aside"
        "footer footer";
    }

    .nav__bar{
        position: sticky;
        width: 100%;
        flex-direction: row;
        justify-items: start;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 0% 1%;
        margin-bottom: 1%;
    }
        a{
            font-size: 1.8rem;
        }

    .img__carrousel{
            width: 95%;
    }


    .main__box{
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-around;
            justify-content: space-around;
            text-align: center;
            width: 95%;  
    }
        .info__box{
            width: 45%;
            margin: 0 auto;
        }
            .info__box--image{
                width:90%;
            }
                .info__box--title{
                    font-size: 2em;
                }
                    .info__box--text{
                        font-size: 0;
                        margin: 0;
                    }


    .aside__box{
        width: 85%;
        height: 95%;
        justify-self: center;
        align-self: center;
    }
        .figure__box{
                flex-direction: column;
                height: 100%;
        }
            .esport__logo{
                    width: 65%;
            }           
    
    .footer__bar{
        margin: 0;
        align-self: end;
    }
/* Gallery - specifics */
#web__grid--container--gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-areas: 
    "nav "
    "main "
    "footer ";
}
    .gallery__box{
        width: 90%;
        margin-bottom: 5%;
    }
        #gallery__grid--container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "img1 img1 img2"
            "img1 img1 img5 "
            "img8 img9 img11"
            "img4 img7 img12"
            "img3 img6 img10 ";
            gap: 1% 0%;   
        }
        .gallery__img{
            height: 100%;
            object-fit: cover;
            place-self: center;
        }
        .gallery{
            flex-wrap: wrap;
            margin-top: 2%;
            padding: 1%;
        }
    .footer__bar{
        margin: 0;
        align-self: end;
    }
        

}
@media (min-width: 1024px){
    #web__grid--container{
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 6fr 7fr 1fr;
        grid-template-areas: 
        "nav nav"
        "header header"
        "main aside"
        "footer footer";
    }
    .web__container{
        margin: 0 auto;
        width: 90%;
    }
    

    .main__box{
        
        height: 90%;
        align-self: center;
    }
        .info__box{
            width: 45%;
        }
            .info__box--title{
                margin-top: 1%;
                font-size: 3em;  
            }
            .info__box--image{
                width: 75%;
            }
            .info__box--text{
                font-size: 17px;
                margin: 1% auto;
            }
    .aside__box{
        margin-top: 1%;
        height: 90%;
    }
    .esport__logo{
            width: 50%;
    }    
/* Gallery - specifics */
.gallery__box{
    width: 100%;
    object-fit: cover;
}
    .gallery__img{
        height: 100%;
        object-fit: cover;
        place-self: center;
    }
    #gallery__grid--container{
        display: grid;
        gap: 1% 0;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img1 img2 img4"
        "img1 img1 img5 img7"
        "img8 img9 img10 img11"
        "img3 img6 img12 img11"
        ;
    }


}
@media (min-width: 1250px){
    .info__box--text{
        font-size: 1.5em;
        margin: 1% auto;
    }
}
@media (min-width: 1600px){
    .info__box--text{
        font-size: 2em;
        margin: 1% auto;
    }
}
